@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: normal;
  src: url('./overstreet-bible-cufonfonts/EridanusCondensed3DItalic-1gXL.otf');
}

.hudson{
  font-family: MyWebFont;
  font-weight: bold;
  color: gold;
  letter-spacing: 10px;
}